.fbLogin {
	width: 152px;
	height: 22px;
	background: url(../images/login.png) no-repeat;
	display: block;
	margin: 15px 0;
}

#Authenticate {
    width: 450px;
    margin: 0pt auto;
}


.x-list-item, .x-item-pressed {
	border: none !important;
	background: none !important;
}

#shoutList {
	background: none !important;
}

.bubble {
	position: relative;
	width: 270px;
	padding: 50px 40px;
	margin: 1em auto 80px;
	text-align: center;
	color: white;
	background: #075698;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2E88C4), to(#075698));
	background: -moz-linear-gradient(#2E88C4, #075698);
	background: -o-linear-gradient(#2E88C4, #075698);
	background: linear-gradient(#2E88C4, #075698);
	border-radius: 220px / 120px;
	-moz-border-radius: 220px / 120px;
	border-radius: 220px / 120px;

	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;

}

.bubble::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50px;
	width: 30px;
	height: 30px;
	background: #075698;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}


.bubble::after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 38px;
	width: 15px;
	height: 15px;
	background: #075698;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 
}

.shout {
	color: #FFF !important;
	font-size: 0.9em !important;
	margin: 1em !important;
}

.details {
	width: 100%;
	overflow: auto;
}

.picture, .info {
	float: left;
}

.info > * {
	display: block;
}

.info {
	color: white;
	font-size: 0.9em;
	margin: 15px 0 0 5px;
}

.location {
	font-size: 0.8em;	
}